/* Home Page */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #46B1C9;
}
nav a {
    text-align: center;
    color: #033f63;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #84C0C6
}
#cw-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #46B1C9; 
    color: #033f63;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}

#cloud-para {
    width: 100%
}
#cloud-para h1 {
    text-align: center; 
}
ul {
    text-align: center;
    list-style-type: none;
}
.intext-title{
    color: #033f63;
    font-weight: bold;
}
.intext {
   color: #033f63; 
}

#intro-box {
    display: flexbox;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #46B1C9;
    color: #033f63;
}
#intro-box p {
    width: 700px;
}
#casual-box {
    display: flexbox;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #46B1C9;
    color: #033f63;
}
#casual-box p {
    width: 700px;
}

#logo {
    transform: scale(0.7);
}
#selfie {
    transform: scale(0.7);
}
#c-m-3 {
    transform: scale(0.75);
}

